<div class="card">
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
  <p><%= portfolio_item.subtitle %></p>
  <p class="card-text"></p>
</div>





