<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>With over a decade of development experience in a number of industtries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate to clients throught the development stage, resulting in a final product that fails to reach the goal sought by the couster and end user.</p>
  </div>
  
</div>
