<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<h3>Contact us at <%= number_to_phone 6055553333  %></h3>
<h3>Your current balance is <%= number_to_currency 6055553333  %></h3>
<h3> <%= number_to_percentage 3 %></h3>
<h3> <%= number_with_delimiter 6055553333 %></h3>
