<div class="row">
  <div class="col-md-6">
    <h3>Contact Information:</h3>

    <h2><%= number_to_phone "6057595737" %>
    <p><a href="mailto:ah3@ah3.dev?subject=PortfolioContact" "email me"><h2>ah3@ah3.dev</h2></a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.028195061828!2d-96.73347108432316!3d43.543454167538165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x878eb5970e464ccb%3A0x92e59cf9a3a0f670!2sW%2012th%20St%20%26%20S%20Minnesota%20Ave%2C%20Sioux%20Falls%2C%20SD%2057104!5e0!3m2!1sen!2sus!4v1593445311738!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
